/* custom styling for acadp */

// listings - grid view+
.acadp {
  .thumbnail.acadp-entry { // listing in grid view
        background-color: white;
        padding: 0px 0px 0px 0px;
        border: 0px;
        .acadp-listing-image {
          width: 100%;
          border-bottom: 1px solid $travelme-divider;
          .acadp-responsive-container {
            background-color: white;
          }
        }
        .acadp-listings-title-block {

          padding-top: 10px;
          border-bottom: 0px;
          .acadp-listing-subtitle {
            clear: both;
            font-style: italic;
            padding-left: 4px;
            text-align: center;
          }
        }
        .acadp-listings-title-block,
        .acadp-listing-contactinfo {
          padding-left: 6px;
          padding-right: 6px;
        }
        .acadp-listing-contactinfo {
          padding-top: 10px;

          .acadp-listing-phone {
            display: inline-block;
            padding-left: 3px; // space for gliphicon
          }
        }

    .acadp-listing-catline {
      clear: both;
    }
  }

}

// listings = home view
.acadp.acadp-listings.acadp-home-view {
  /* .acadp-entry {
      background-color: white;
      padding: 0px 0px 0px 0px;
      border: 0px;
      .acadp-listing-image {
        width: 100%;
        border-bottom: 1px solid $travelme-divider;
      }
      .acadp-listings-title-block {
        padding-top: 10px;
        border-bottom: 0px;
      }
      .acadp-listings-title-block,
      .acadp-listing-contactinfo {
        padding-left: 6px;
        padding-right: 6px;
      }
  } */
}
// single
.single.single-acadp_listings  {

}
