/* custom styling for acadp */
// both single & grid view


// listings - grid view+
@media all and (min-width: 992px) { // only equal hieght at desktop
  .acadp {
    .row.row-eq-height {
      display: flex;
      margin-bottom: 20px;
      .col-md3, .col-sm-6 {
        //flex: 1;
        .thumbnail.acadp-entry {
          height: 100%;

        }
      }
    }
  }
}
@media all and (max-width: 991px) {
  .acadp {
    .row.row-eq-height {
        .thumbnail.acadp-entry {
          margin-bottom: 20px;
        }
    }
  }
}
.acadp {
  .thumbnail.acadp-entry { // listing in grid view
        background-color: white;
        padding: 0px 0px 0px 0px;
        border: 0px;
        margin-bottom: 0px;
        .acadp-listing-image {
          width: 100%;
          .acadp-responsive-container {
            background-color: transparent;
            img {
              max-width: 90%;
            }
          }
        }
        .acadp-listings-title-block {

          padding-top: 10px;
          text-align: center;
          margin-bottom: 5px; //
          .acadp-listing-subtitle {
            clear: both;
            font-style: italic;
            padding-left: 4px;
            font-weight:normal;
            //text-align: center;
          }
        }
        .acadp-listings-title-block,
        .acadp-listing-contactinfo {
          padding-left: 6px;
          padding-right: 6px;
        }
        .acadp-listing-contactinfo {
          padding-top: 10px;
          .glyphicon {
            padding-right: 3px;
          }
          .acadp-listing-phone {
            display: inline-block;
            //padding-left: 3px; // space for gliphicon
          }
          .acadp-mapit {
            img {
              background-color: $travelme-green;
              margin: 0px;
            }
          }
        }

    .acadp-listing-catline {
      clear: both;
    }
  }

}


// single
.single.single-acadp_listings  {

}
