.g.g-12,
.g.g-10 { // homepage ad block 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;

}
.g.g-10 img,
.g.g-12 img {
    margin: 10px;
}

@media all and (min-width: 1599px) { 
    .g.g-12,
    .g.g-10 {
        justify-content: space-between;;
    }
}

@media all and (min-width: 981px) { 



}