/* basic css stuff */
a.travelme-link-alt {
	color: $travelme-link-alt;
}
.reach-responsive-video {
	position: relative;
	padding-bottom: 50.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 1em;
	iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
	}
}
.rmm-border-green {
	border: 1px solid $travelme-green;
}
// styling to make the tabs of a tab module on the side instead of at the top - at desktop
.rmm-vertical-tabs { // this is for both desktop & mobile
	ul.et_pb_tabs_controls {
			background-color: $travelme-dkgrey;
			 li {
				 a {
					 display: block;
					 width: 100%;
					 padding: 10px 10px 10px 20px ;
					 font-size: 15px;
					 text-transform: uppercase;
				 }
			 }
			 li.et_pb_tab_active a {
				 color: white!important;
			 }
		}
  ul.et_pb_tabs_controls:after {
			content: none;
			border-top: 0px;
		}
	.et_pb_all_tabs {
		background-color: $travelme-dkgrey;
		.et_pb_tab {
			 padding: 0px;
			 background-color: $travelme-dkgrey;
		}
	}
}

// reveal buttons
.rv_button.closed:after {content:"\33";}
.rv_button.opened:after{content:"\32";}

@media(min-width:768px) {
	.rmm-vertical-tabs {
		//background-color: $travelme-ltgreen;
		ul.et_pb_tabs_controls {
			 float: left;
			 width: 30%;
			 display: block;
			 margin-top: 30px;
			 li {
				  margin-left: -20px;
					background-color: white;
					display: block;
					width: 100%;
					border-width: 1px 1px 0px 1px;
					border-color: #d9d9d9;
					border-style: solid;
					height: auto!important;
					margin-bottom: 0px;
					//margin-bottom: 5px;

			}
			li:not(.et_pb_tab_active):last-child {
				border-right: 1px solid #d9d9d9;
			}
			li:last-child {
				//margin-bottom: 5px;
				border-bottom: 1px solid #d9d9d9;
			}
		}

		.et_pb_all_tabs {
		  display: flex;
		  width: 70%;
			//background-color: $travelme-ltgreen;
			.et_pb_tab {
				 padding: 0px;
			}
		}
		.et_pb_tab_active a {
		  //color: $travelme-green!important;
		}
	}

}
@media(max-width:767px) {
		.rmm-vertical-tabs {
			.et_pb_all_tabs {
				.et_pb_tab {
					img {
						width: 100%;
					}
				}
			}
		}
	/*.rmm-vertical-tabs ul.et_pb_tabs_controls.clearfix {
	  float: left;
	  width: 100%;
	  display: inherit;
	}
	.rmm-vertical-tabs .et_pb_all_tabs {
	  display: flex;
	  width: 100%;
	}
	.rmm-vertical-tabs .et_pb_tab.et_pb_tab.clearfix.et-pb-active-slide {
	  border-left: 0px solid #d9d9d9;
	} */
}
// end vertical tabs

// text blocks under the tabs
.rmm-home-textblock {
	padding: 20px;
	//background-color: $travelme-ltgreen;
}

.rmm-rotate_right {
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(7deg);
}
.rmm-rotate_left {
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-8deg);
}
.rmm-up {
	margin-top: -30px;
}
// list block for towns on region landing pages
ul.travelme-town-list {
	list-style: none;
	display: inline-flex;
	flex-wrap: wrap;
  padding-left: 0px;
	li {
		a {
			color: $travelme-link-alt;
			.travelme-townname {
				text-align: center;
				max-width: 150px;
			}
		}

	}
}

ul.travelme-flex-list {
	list-style:none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	li {
		text-align: center;
		flex-grow: 1;
	}
}
.travelme-link-green a, a.travelme-link-green {
		color: $travelme-green;
}

.travelme-more-button {
	background-color: $travelme-green;
	padding: 6px 14px;
	text-transform: uppercase;
	color: white;
}
