// divi 4 column blog styles.

/***4 Column Styles***/

/*This section changes the layout to 4 columns*/
@media only screen and ( min-width: 981px ) {
  .et_pb_column_4_4 .et_pb_blog_grid .et_pb_salvattore_content[data-columns]::before {
      content: "4 .column.size-1of4"!important;
  }
  .et_pb_column_4_4 .column.size-1of4 {
    width:22.15% !important;
    margin-right:1%;
  }
  .et_pb_column_4_4 .ds-blog-four-column.et_pb_blog_grid[data-columns]::before {
    content: "4 .column.size-1of4";
  }
  .ds-blog-four-column.et_pb_blog_grid .column.size-1of4 {
  margin-right: 3.8%;
  padding-bottom: 30%;
  width: 22.15%;
  }
  .et_pb_blog_grid .column.size-1of4:last-child {
  margin-right: 0;
  }
}

/*This sets the spacing between post rows*/
.ds-blog-four-column .et_pb_post {
    margin-bottom: 25%;
}

/*This section sets the height of the images on different screen sizes to keep it relatively square. If you are not using object-fit because it isn't supported in IE and Edge then you should remove this entire section or the images will be distorted*/
.ds-blog-four-column .ds-blog-square a img {
    //height: 33vh !important; /*Adjust this value if you want the images taller or shorter*/
}

@media only screen and (max-width: 1440px) {
    .ds-blog-four-column .ds-blog-square a img {
      //  height: 28vh !important; /*Adjust this value if you want the images taller or shorter*/
    }
}

@media only screen and (max-width: 1280px) {
    .ds-blog-four-column .ds-blog-square a img {
      //  height: 25vh !important; /*Adjust this value if you want the images taller or shorter*/
    }
}

@media only screen and (max-width: 768px) {
    .ds-blog-four-column .ds-blog-square a img {
      //  height: 28vh !important; /*Adjust this value if you want the images taller or shorter*/
    }
}

@media only screen and (max-width: 480px) {
    .ds-blog-four-column .ds-blog-square a img {
        //height: 40vh !important; /*Adjust this value if you want the images taller or shorter*/
    }
}
