/* **** media **** */
// Divi breakpts
// mobile menu shows at max-width:


@media all and (min-width: 981px) { // no  hamberger menu
  .travelme-header-nav {
    background-color: $travelme-ltgreen;
    text-align: center;
    padding-top: 12px;
  }

  body.home {
    .travelme-header-nav {
      background-color: transparent; // header transparent on homepage.
    }
    #et-main-area {
      #main-content {
        article {
          margin-top: -124.5px; //-112.5px;
        }
      }
    }

  }

}
@media all and (max-width: 980px) { //  hamberger menu showing
  .et_mobile_nav_menu {
    margin: 20px 20px 20px 0;
  }
  .travelme-adgroup-3x6 {
    max-width: 300px;
    margin: auto;
  }
  .travelme-guide-promo {
      clear: both;
      margin: auto; // center it
  }
}
@media only screen and (max-width: 960px) {

}
@media only all  and (max-width: 767px) {

}

@media all and (max-width: 479px) {
}
