/* styling for tribe events & events calendar shortcode */
// short code (on home page)
// shortcode regardless of size
ul.ecs-event-list {
  padding: 0px 0px 20px 0px;
  li.ecs-event {
    list-style: none;
      h4.entry-title {
        padding-bottom: 0px;
        text-align:center;
        a {
          color: $travelme-h-color;
          font-size: 1.1em;
        }
      }
     .travelme-esc-date {
       text-align: center;
      }

  }
  li.ecs-event:not(:last-child), {
    border-bottom: 2px solid $travelme-orange-hilite;
    padding-bottom: 20px;
    margin-bottom: 25px;
  }
}
.travelme-esc-all {
  text-align: center;
  .ecs-all-events {
    padding: 6px 14px;
    border: 2px solid $travelme-green;
    a {
        color: $travelme-green;
    }
  }
}
@media only all  and (min-width: 992px) {
}

// events page...
h1.tribe-events-page-title {
  font-family: 'Caveat',handwriting;
  font-size: 45px;
  color: $travelme-green;
  letter-spacing: 1px;
  font-style: italic;
}
#tribe-events-content {
    .tribe-events-list-separator-month {
      color: $travelme-green;
    }
}

.datepicker.dropdown-menu {
  z-index: 100000!important;
}
